<div class="row itcnoel18-1">
    <div class="col-sm-12 order-sm-12 col-md-12 order-md-1 col-lg-6 order-lg-12 itcnoel18-1-1">
    <f:for each="{children_200}" as="record">
        <f:format.raw>
            {record.renderedContent}
        </f:format.raw>
    </f:for>
    </div>
    <div class="col-sm-12 order-sm-1 col-md-12 order-md-12 col-lg-6 order-lg-1 itcnoel18-1-2">
    <f:for each="{children_201}" as="record">
        <f:format.raw>
            {record.renderedContent}
        </f:format.raw>
    </f:for>
    </div>

</div>