<div class="row">
    <div class="col-sm-2 col-xs-2  itcnoel20-1">
    <f:for each="{children_200}" as="record">
        <f:format.raw>
            {record.renderedContent}
        </f:format.raw>
    </f:for>
    </div>
    <div class="col-sm-8  col-xs-8 padall-5 text-center itcnoel20-2">
    <f:for each="{children_201}" as="record">
        <f:format.raw>
            {record.renderedContent}
        </f:format.raw>
    </f:for>
    </div>
    <div class="col-sm-2 col-xs-2  itcnoel20-3">
    <f:for each="{children_202}" as="record">
        <f:format.raw>
            {record.renderedContent}
        </f:format.raw>
    </f:for>
    </div>

</div>