<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 px-1 my-1 itcnoel8-1">
    <f:for each="{children_200}" as="record">
        <f:format.raw>
            {record.renderedContent}
        </f:format.raw>
    </f:for>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 px-1 my-1 itcnoel8-2">
    <f:for each="{children_201}" as="record">
        <f:format.raw>
            {record.renderedContent}
        </f:format.raw>
    </f:for>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 px-1 my-1 itcnoel8-3">
    <f:for each="{children_202}" as="record">
        <f:format.raw>
            {record.renderedContent}
        </f:format.raw>
    </f:for>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 px-1 my-1 itcnoel8-4">
    <f:for each="{children_203}" as="record">
        <f:format.raw>
            {record.renderedContent}
        </f:format.raw>
    </f:for>
    </div>
</div>